@import url("../../content/assets/layouts/layout/css/themes/blue.min.css");

.page-header.navbar .page-logo .logo {
    background-image: url(../../content/img/logo-benner-branca.png);
}

.menu-do-desenvolvedor {
    background-color: #3979b2 !important;
}

.usuario {
    background-color: #d64635 !important;
    color: #fff;
    height: 30px;
    width: 30px;
}

.usuario:hover {
    background-color: #d64635 !important;
    color: #fff;
}
/* === Pesquisa ===*/
#searcher > a:hover {
    background-color: #3979b2;
}

    #searcher > a > i {
        color: #6BA1D1;
        font-size: 17px;
    }

    #searcher:hover > a > i {
        color: #a5c6e3;
    }
/* === Pesquisa ===*/
/* === Help F1 ===*/
#helpDocumentation > a:hover {
    background-color: #3979b2;
}

    #helpDocumentation > a > i {
        color: #6BA1D1;
        font-size: 17px;
    }

    #helpDocumentation:hover > a > i {
        color: #a5c6e3;
    }
/* === Help F1 ===*/
/* === ChatBot ===*/
#chat-bot > a:hover,
#chat-bot > a:focus { background-color: #3979b2; }
#chat-bot > a > i { color: #6BA1D1; }
#chat-bot > a:hover > i,
#chat-bot > a:focus > i { color: #a5c6e3; }
.page-quick-sidebar-wrapper { background: #4276A4; }
.page-quick-sidebar-wrapper .page-quick-sidebar .nav-tabs > li > a { border-bottom-color: #e87e04 !important; }
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post .message { background: #397FAE; }
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post .body { color: #C9DFF5 !important; }
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.in .message .arrow { border-right-color: #397FAE !important; }
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.out .message .arrow { border-left-color: #397FAE !important; }
/* === ChatBot ===*/